body {
   /* background-color: #5e5e5e;*/
}

h1{
    color: black;
    font-family: "Book Antiqua"
}

label{
    color: black;
}

.container{
    margin-top: 5%;
}

.panel {
    margin-left: 25%;
    width: 55%;
    border-style: double;
    border-width: 5px;
    border-color: deepskyblue;
}

.panel-default > .panel-heading{
    border-style: double;
    border-width: 0px;
    border-bottom-width: 5px;
    border-color: deepskyblue;
}
.btn{
    color: black;
}
