body {
    background-color: #5e5e5e;
}

h1{
    color: black;
    font-family: "Book Antiqua"
}

label{
    color: black;
}

.container{
    margin-top: 10%;
}

.panel {
    margin-left: 35%;
    width: 30%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.panel-default > .panel-heading{
    background-color: orangered;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 5px;
    border-color: black;
}
.panel-default > .panel-body{
    background-color: cornflowerblue;
}
.btn{
    color: white;
}
